/* Sets background color and pattern */
body {background-color: #000033;
	background-image: url(primevertical.png);
	color: #003300;
	font-family: Arial, Helvetica, sans-serif;
}

/* sets color for all H1 text */
h1 {color: #48751a}

/* sets color for all H2 text */
h2 {color: #003366}

/* sets color for all H3 text */
h3 {
	color: #006600;
	padding-top: 10px;
}

/* makes text within the NAV bar bold and a little larger */
nav {
	font-weight: bold;
	font-size: 1.25em;
}

/* makes all descriptions italics with some spacing and a little smaller font */
dd {
	font-style: italic;
	font-size: .90em;
	line-height: 200%;
}

/* Customizes the style of the address and phone number */
.contact {
	font-weight: bold;
	font-size: .90em;
	font-family: "Times New Roman", serif;		
}

/* Makes the footer text small and italics */
footer {
	font-size: .60em;
	font-style: italic;
}

/* Creates margins, and sets the page content in a rounded box with shadows */
#wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffcc;
	min-width: 700px;
	max-width: 960px;
	padding-bottom: 20px; padding-left: 30px;
	border: 1px solid #00332b;
	border-radius: 15px;
	box-shadow: inset -3px -3px 3px 3px #00332b; 
}

/* Removes borders from images */
img {
	border-style: none;
}


	

